@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap");
body {
  font-family: "Fira Sans", sans-serif;
}

/* card animation */
.card_animated {
  animation: scale-to-fit-animation 0.08s ease;
}

/* floating chat box animation */
.floatingChatBox {
  animation: floatingChatBoxAnimation 0.3s ease;
}

@keyframes scale-to-fit-animation {
  from {
    opacity: 0.5;
    transform: scale(0.4);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes floatingChatBoxAnimation {
  from {
    opacity: 0.5;
    transform: scale(0.4);
    height: 10%;
  }

  to {
    opacity: 1;
    transform: scale(1);
    height: 90%;
  }
}
